<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.notime.mall.manager.mapper.PmsProductSaleAttrMapper">


    <resultMap id="getspuSaleAttrListByspuIdResultMap" type="com.notime.mall.api.bean.PmsProductSaleAttr">
        <id column="attr_id" property="id" />

        <result column="attr_productId" property="productId" />
        <result column="attr_saleAttrId" property="saleAttrId" />
        <result column="attr_saleAttrName" property="saleAttrName" />

        <collection property="spuSaleAttrValueList"  ofType="com.notime.mall.api.bean.PmsProductSaleAttrValue">
            <id column="value_id" property="id" />

            <result column="value_productId" property="productId" />
            <result column="value_saleAttrId" property="saleAttrId" />
            <result column="value_saleAttrValueName" property="saleAttrValueName" />
        </collection>
    </resultMap>

    <select id="getspuSaleAttrListByspuId" resultMap="getspuSaleAttrListByspuIdResultMap">


select attr.id attr_id,
attr.product_id attr_productId,
attr.sale_attr_id   attr_saleAttrId,
attr.sale_attr_name  attr_saleAttrName,
value.id value_id,
value.product_id value_productId,
value.sale_attr_id  value_saleAttrId,
value.sale_attr_value_name   value_saleAttrValueName
from pms_product_sale_attr attr
join pms_product_sale_attr_value value
on attr.product_id = value.product_id  and attr.sale_attr_id =value.sale_attr_id
where attr.product_id = #{spuId}
    </select>
</mapper>